mnemonic = "your_mnemonic_phrase"
SSH_KEY  = "ssh-rsa AAAAB3NzaC1yc2E..."

control_nodes = [1234, 5678, 91011]
worker_nodes  = [1213, 1415, 1617]

control_cpu = 2
control_mem = 2048  # MB
control_disk = 10   # GB

worker_cpu = 4
worker_mem = 4096   # MB
worker_disk = 20    # GB
